<section class="crowns" *ngIf="page == '/services/dental-crowns' ">
    <div class="container-fluid">
        <h1>Dental Crowns And Bridges</h1>
        <p> At Liberty Family Dentistry we can cover a tooth that is broken, decayed, or misshapen by providing a custom dental crown. 
            If you would like to receive a dental crown, please come see Dr. Magi Sargious. Contact us today at <a href="tel:(931)304-8447">931-304-8447</a> to schedule your appointment.</p>

        <p>A dental crown, or cap, is a restoration that can be used for a number of purposes. One of the most common uses of a dental crown is to restore a tooth that is significantly damaged or decayed. 
            The crown is custom made to fit over the entire tooth, starting at the gum line, in order to restore the tooth to its original shape and size. Dental crowns can be made of gold, porcelain, or porcelain fused to metal; 
            porcelain crowns are popular because they match the natural color and appearance of your teeth. Our dentist will help you determine which type of dental crown is right for your smile.</p>

    </div>
</section>

<section class="exam" *ngIf="page == '/services/dental-exams-and-cleaning' ">
    <div class="container-fluid">
        <h1>Dental Exams And Cleaning</h1>
        <p> Your oral health is easiest to maintain when you visit Liberty Family Dentistry for routine dental exams and teeth cleanings. 
            Dr. Magi Sargious will thoroughly evaluate your oral health and polish your teeth to remove any lingering plaque.
            To schedule your next dental exam and cleaning, call <a href="tel:(931)304-8447">931-304-8447</a> to reach Liberty Family Dentistry.
        </p>

        <p>Our office utilizes dental X-rays to further evaluate your smile and make certain that you receive the dental care you need. 
            Regular dental cleanings and exams are essential in maintaining good oral health, 
            preventing cavities and gum disease, and making sure that any damaging conditions are treated as early as possible.</p>
            
        <p>Dental cleanings and exams are two of the most basic yet important preventive treatments we provide at our office. Each time you visit our dental practice for a checkup, 
            we will provide a professional teeth cleaning and dental exam to help your smile stay healthy. During your teeth cleaning and exam, our dental team will: 
        </p>
            
        <ul>
            <li>Clean your teeth by removing any plaque or tartar (also called dental calculus), which can lead to tooth decay and periodontal disease </li> 
            <li>Floss and polish your teeth for a healthy, bright smile</li>
            <li>Examine your smile for signs of any damaging dental conditions or diseases</li>
        </ul>
        <br>

        <p>Dr. Sargious recommends that you visit every six months for a routine dental cleaning and exam. She may suggest more frequent visits if needed, 
            and she also encourages you to contact the office if you suffer from a dental emergency, pain, or injury. To schedule your next appointment, we invite you to contact us today.
            We look forward to caring for your smile!</p>
    </div>
</section>

<section class="implants" *ngIf="page == '/services/dental-implants' ">
    <div class="container-fluid">
        <h1>Dental Implants</h1>
        <p> At Liberty Family Dentistry, we understand all of the ways a missing tooth can negatively impact an individual. 
            If you have a missing tooth or several missing teeth, dental implants are one of the best options available for restoring your natural smile, 
            improving your ability to chew, and enhancing your image. Although there are various options available with dental implants, 
            most recreate the function and look of a natural tooth by installing a titanium mount in the jawbone and then placing a dental crown resembling a natural tooth on top of the post. 
            A dental Implants is a great option for restoring your smile and it is virtually indistinguishable from a natural tooth and functions the same. 
            For someone with a noticeable missing tooth, this procedure can truly be a life-changing experience. 
        </p>

        <p> For more information about the benefits of implant dentistry, and to schedule your implant consultation, please call or visit us soon and 
            we are ready to walk alongside you through the journey of replacing your missing tooth and restoring a healthier and happier version of you.
        </p>
    </div>
</section>
<section class="fillings" *ngIf="page == '/services/dental-fillings'">
    <div class="container-fluid">
        <h1>Dental Fillings</h1>
        <p>You may need dental fillings to replace a tooth decay or strengthen a cracked tooth, in which case, we encourage you to come see Dr. Magi Sargious. Call <a href="tel:(931)304-8447">931-304-8447</a> today.</p>
        <p>A dental filling is a restoration used to repair minor to moderate tooth damage caused by tooth decay or cavities. To repair a cavity, our dentist will remove the decayed tooth tissue and then fills the space with a filling material.</p>
        <p>If your tooth is decayed or damaged, a dental filling may be a great choice for restoring your oral health and function. We invite you to call or visit us today to learn more about dental fillings and to schedule your next appointment with our team. We look forward to caring for your smile!</p>
    </div>
</section>
<section class="bridges" *ngIf="page == '/services/dental-bridges'">
    <div class="container-fluid">
        <h1>Dental Bridges</h1>
        <p>Do you have any missing teeth? We are able to help restore any missing teeth by creating a dental bridge that secures to your surrounding teeth for a stable, long-lasting smile. Schedule an appointment with our dentist at Liberty Family Dentistry by contacting <a href="tel:(931)304-8447">931-304-8447</a> today.</p>
        <p>A dental bridge can help restore the look and function of your teeth. It bridges the gap where the missing tooth is and it is non-removable. These crowns hold the artificial tooth in place to restore your smile, ensuring that your restoration will not easily shift or come loose. Dental bridges are designed to last for many years and to restore the function, beauty, and health of your smile.</p>
        <p>We will help you determine whether a custom dental bridge is the right choice for restoring your smile after tooth loss. For more information, please call or visit us today.</p>
    </div>
</section>
<section class="invisalign" *ngIf="page == '/services/invisalign'">
    <div class="container-fluid">
        <h1>Invisalign&#174;</h1>
        <p>
            If you suffer from teeth that are overcrowded or crooked, you may contact Liberty Family Dentistry to get started with Invisalign. Dr. Magi Sargious is committed to providing you with a positive orthodontic experience so that you can receive the best results possible. If you feel you may benefit from receiving Invisalign, please call <a href="tel:(931)304-8447">931-304-8447</a> or come see our dentist.
        </p>

        <p>
            Invisalign is an orthodontic treatment option that can help you achieve a smile that is straighter and healthier. One of the most common orthodontic treatments available, Invisalign work to improve your smile by gradually, gently realigning your teeth. 
        </p>
        <p>If you have ever wanted your smile to be straighter and more attractive, Invisalign may be right for your smile. With Invisalign, we are able to correct orthodontic issues such as:</p>
        <ul>
            <li>Crowded teeth</li>
            <li>Gapped teeth</li>
            <li>Misaligned teeth</li>
            <li>Problems with the bite, including crossbite, open bite, underbite, and overbite</li>
        </ul>

        <p>
            During your treatment, you will visit our office on a regular basis so we can make sure that your braces are adjusted as needed to continue progressing towards a straighter, healthier smile. Our skilled dentist and team will help you reach all of your oral health and appearance goals through personalized, high-quality care. To learn more about Invisalign, please contact our office today.
        </p>
    </div>
</section>
<section class="extractions" *ngIf="page == '/services/tooth-extractions'">
    <div class="container-fluid">
        <h1>Tooth Extractions</h1>
        <p>If you have a severly damaged tooth, Our dentist may recommend a tooth extractions. Even with the best oral care, occasionally a tooth needs to be removed to keep you healthy. This procedure, known as an extraction is a minimally invasive treatment</p>
        <p> 
            Tooth extraction is the removal of a tooth. While we strive to avoid the need to remove a tooth whenever possible, certain conditions may make tooth extraction the most effective option for returning your smile to good health and function. Following the tooth extraction, we are happy to provide you with one of our excellent tooth replacement treatments to restore your smile to optimal health, beauty, and function.
        </p>
        <p>Several conditions may necessitate tooth extraction. Among these are:</p>
        <ul>
            <li>
                Severe infection that has destroyed a significant portion of the tooth and supporting bone structure
            </li>
            <li>
                Serious decay that has damaged a tooth beyond repair, making a successful restoration impossible
            </li>
            <li>
                Crowding caused by too many teeth to properly fit in the mouth
            </li>
        </ul>
        <p>Our dentists and team use great care and skill when performing a tooth extraction to ensure that your experience is as comfortable and painless as possible. For more information on tooth extraction and to schedule your personalized consultation at our friendly dental office, we invite you to call or visit us today. We are committed to improving your smile!</p>
    </div>
</section>
<section class="whitening" *ngIf="page == '/services/teeth-whitening'">
    <div class="container-fluid">
        <h1>Teeth Whitening</h1>
        <p>Teeth whitening is a simple, effective cosmetic dental treatment that we offer to noticeably enhance your smile in as little as one treatment. Our professional teeth whitening treatments utilize a powerful yet safe whitening gel that is applied to the surface of your teeth.</p>
        <p>Dr. Magi Sargious will work with you to determine the right type of treatment and treatment length to achieve the smile aesthetic you desire. To learn more about professional teeth whitening and to set up your consultation at our office, please call us today at <a href="tel:(931)304-8447">931-304-8447</a>.</p>
    </div>
</section>