<div class="container">
    <div class="image-footer">
        <img src="../../assets/img/dental-office.jpeg">
    </div>
    <div class="our-office">
        <h1>Our Office</h1>
        <div class="our-office-content">
            <div class="item">
                <span><i class="fa fa-mobile fa-3x" aria-hidden="true"></i></span>
                <div class="our-office-content-text">Call 615-495-4154</div>
            </div>
            <div class="item">
                <span><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
                <div class="our-office-content-text"><a href="https://goo.gl/maps/N6mHmGYoWqLZJY5D9">24 Liberty Ln, McMinnville, TN 37110</a>
                </div>
            </div>
            <div class="item">
                <span><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></span>
                <div class="our-office-content-text">Monday-Thursday: 9am - 4pm
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=24%20Liberty%20ln%20Mcminnville&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
    </div>
</div>
<div class="all-rights">
    © 2022 Liberty Family Dentistry. All rights reserved.
</div>