section{
    margin: 5rem 10rem;
}

.services-title{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5em;
    color: var(--header-blue)
}

.services-body{
    font-size: larger;
}

.our-services-cards{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}

.card{
    border-radius: 2rem;
    transition: .1s ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #fff;
    box-shadow: 0 0 15px #c6cfdc;
}

.card:hover{
    z-index:3;
    box-shadow: 0 0 50px #c6cfdc;
    cursor: pointer;
}

.card:hover h4{
    font-weight: bold;
}


.card-body{
    padding:3rem 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-title{
    display: flex;
    margin-left: 1rem;
}

.card-body h4{
    color:var(--header-blue)
}

.card-title img{
    transition: .1s ease-in-out;
}

.card:hover .card-title img{
    font-weight:bold;
    filter: invert(12%) sepia(69%) saturate(2473%) hue-rotate(220deg) brightness(92%) contrast(96%);
    filter: drop-shadow(0 0 0.75px var(--header-blue));
}

@media only screen and (min-width: 360px) and (max-width: 767px){
    section{
        margin: 2rem 2rem 5rem;
    }
    .our-services-cards{
        margin-top: 3rem;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card-title{
        justify-content: center;
        margin-top:1rem;
        margin-left: 0;
    }
    .card-body{
        padding:0.5rem 2rem;
        text-align: center;
    }
    .card-body h4{
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
    section{
        margin: 2rem 2rem 5rem;
    }
    .our-services-cards{
        margin-top: 3rem;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .card{
        flex-direction: column-reverse;
    }
    .card-title{
        justify-content: center;
        margin-top:1rem;
        margin-left: 0;
    }
    .card-body{
        padding:0.5rem 2rem;
        text-align: center;
    }
    .card-body h4{
        font-weight: bold;
    }
}
