<div class="container">
    <div class="pictures">
        <img src="../../assets/img/dental-office.jpeg">
    </div>
    <form>
        <div class="field">
            <label class="label">Name</label>
            <input class="input" type="text" name="name">
        </div>
        <div class="field">
            <label class="label">Phone</label>
            <input class="input" type="number" name="phone">
        </div>
        <div class="field">
            <label class="label">Email Address</label>
            <input class="input" type="email" name="email">
        </div>
        <div class="field">
            <label class="label">Your Message</label>
            <textarea class="textarea" name="message"></textarea>
        </div>
    </form>
</div>