<section>
    <div class="container-fluid doctor-img">
        <img src="../../../assets/img/dental-office.jpeg">
    </div>
    <div class="container-fluid">
        <h1 class="doctor-title">Our Doctor</h1>
        <hr>
        <h4>Dr. Magi Sargious, DDS</h4>
        <span>Dr. Magi Sargious moved to the Nashville area in 2010 and attended Middle Tennessee State University where she earned her bachelor's degree in science and minor in health in 2013. She completed her Doctorate of Dental Surgery (DDS) at Meharry Medical College School of Dentistry. </span> <br><br>
        <span>Dr. Sargious has two lovely children and she enjoys spending time with them. She also enjoys traveling and spending her spare time with family and friends. Dr. Sargious is excited to serve the wonderful people of McMinnville, Tennesse and surrounding areas.</span>
    </div>
</section>
<app-footer></app-footer>