<section>
    <div class="container-fluid doctor-img">
        <img src="../../../assets/img/dental-office.jpeg">
    </div>
    <div class="container-fluid">
        <h1 class="doctor-title">Our Doctor</h1>
        <hr>
        <h4>Dr. Magi Sargious, DDS</h4>
        <span>We provide emergency dentistry, family dentistry, and high-quality cosmetic dentistry. We work with most dental insurances and are currently accepting new patients. Conveniently schedule your appointment online today.</span>
        <span>We provide emergency dentistry, family dentistry, and high-quality cosmetic dentistry. We work with most dental insurances and are currently accepting new patients. Conveniently schedule your appointment online today.</span>
    </div>
</section>
<app-footer></app-footer>