<div class="container-fluid" *ngIf="page == '/'">
    <div class="content-picture">
        <div class="content-body">
            <h1>Liberty Family Dentistry</h1>
            <h3>A Healthy Smile Starts With Us</h3>
            <p>Here at Liberty Family Dentistry we are passionate about what we do. </p>
            <p>We make it our top priority to make sure that you and your family feel confident about your smile.</p>
            <button routerLink="/contact-us" class="request-button">Request Appointment</button>
        </div>
    </div>

</div>

<div class="container-fluid services" *ngIf="page == '/services'">
    <div class="services-picture">
        <div class="services-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span>Services</h3>
            <h1>Our Services</h1>
        </div>
    </div>
</div>

<div class="container-fluid services" *ngIf="page.includes('/services/')">
    <div class="services-picture">
        <div class="services-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/services">Services</a> <span class="fa fa-chevron-right"></span>{{subpage}}</h3>
            <h1>{{subpage}}</h1>
        </div>
    </div>
</div>

<div class="container-fluid about-us" *ngIf="page == '/about-us'">
    <div class="about-us-picture">
        <div class="about-us-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/about-us">About Us</a></h3>
            <h1>About Us</h1>
        </div>
    </div>
</div>

<div class="container-fluid contact-us" *ngIf="page == '/contact-us'">
    <div class="contact-us-picture">
        <div class="contact-us-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/contact-us">Contact Us</a></h3>
            <h1>Contact Us</h1>
        </div>
    </div>
</div>

<div class="container-fluid pay-now" *ngIf="page == '/pay-now'">
    <div class="pay-now-picture">
        <div class="pay-now-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/pay-now">Pay Now</a></h3>
            <h1>Pay Your Bill Now</h1>
        </div>
    </div>
</div>