<div class="container-fluid" *ngIf="page == '/'">
    <div class="content-picture">
        <!-- <img id="smile-patient" src="../../assets/img/smile-patient.jpeg">
        <img id="dental-equipment" src="../../assets/img/dental-office.jpeg"> -->
        <div class="content-body">
            <h1>Liberty Family Dentistry</h1>
            <h3>A Healthy Smile Starts With Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button>Request Appointment</button>
        </div>
    </div>
   

    <!-- <div class="content-text">
        Feel Great About Your Smile
        <div class="header">Liberty Family Dentistry</div>
        <div class="sub-header">Your great smile begins with a great dentist</div>
        <button class="learn-more">LEARN MORE</button>
    </div> -->
    
</div>

<div class="container-fluid services" *ngIf="page == '/services'">
    <div class="services-picture">
        <div class="services-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/Services">Services</a></h3>
            <h1>Our Services</h1>
        </div>
    </div>
</div>


<div class="container-fluid about-us" *ngIf="page == '/about-us'">
    <div class="about-us-picture">
        <div class="about-us-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/about-us">About Us</a></h3>
            <h1>About Us</h1>
        </div>
    </div>
</div>

<div class="container-fluid contact-us" *ngIf="page == '/contact-us'">
    <div class="contact-us-picture">
        <div class="contact-us-body">
            <h3> <a routerLink="/">Home</a><span class="fa fa-chevron-right"></span><a routerLink="/contact-us">Contact Us</a></h3>
            <h1>Contact Us</h1>
        </div>
    </div>
</div>