section{
    margin: 5rem 15rem;
}

.contact-title{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5em;
    color: var(--header-blue)
}

.contact-body{
    font-size:20px;
}

.form-content{
    display: flex;
}


.form-group{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 3rem;
}

button{
    color: #ffffff!important;
    border-color:  transparent !important;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Martel Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color:  var(--button-blue) !important;
    padding-top: 10px!important;
    padding-right: 50px!important;
    padding-bottom: 10px!important;
    padding-left: 50px!important;
    margin-top:3.5rem;
}


button:hover{

    background-color:  var(--header-blue) !important;
}

input{
    border-radius: 30px;
}

.fieldset{
    margin-bottom: 2rem;
}
.fieldset.name{
    display: flex;
}

.name-input{
    margin-right: 2rem;
}

legend{
    padding-left: 1rem;
    font-size: 20px;;
}

label{
    padding-top: 0.25rem;
    margin-bottom: 0;
    padding-left: 1rem;
}

.required{
    color: var(--accent);
}

.e-toast-container .e-toast {
    background-color: navy;
}

.btn--buy,.btn--pay,.btn--donate{background-color:#424e54;border:0;border-radius:8px;color:#fff;cursor:pointer;display:inline-block;font-family:Fira Sans,Arial,Helvetica,sans-serif;font-size:28px;line-height:1;margin-bottom:1em;padding:.75em 1em;vertical-align:middle;transition:background-color .4s ease;} .btn--pay{background-color:#494949;border-color:#494949;} .btn--pay:hover{background-color:#333;border-color:#333;} .btn--buy{background-color:#3ea56b;border-color:#2e955b;} .btn--buy:hover{background-color:#1e854b;text-decoration:none;} .btn--donate{background-color: #4e75b9;border-color: #4e75b9;} .btn--donate:hover{background-color:#3e65a9;border-color:#3e65a9;} .cards{margin-top:1em;} .cards img{border:1px solid #c5c6ce;border-radius:5px;} .cards--s img{height:30px;} .btn--pay { background-color: #3f51b5; font-family: Raleway; font-size: 30px; color: #fff; } .btn--pay:hover{ background-color: #283593; color: #fff; } 


@media only screen and (min-width: 360px) and (max-width: 767px){
    section{
        margin: 1rem 2rem;
        flex-direction: column;
    }
    .submit-button{
        display: flex;
        justify-content: center;
    }

    .submit-button .btn{
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .fieldset.name{
        display: flex;
        flex-direction: column;
    }

    .name-input{
        margin: 0.5rem 0;
    }

    .form-group{
        justify-content: center;
    }

    form{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
    section{
        margin: 1rem 2rem;
        flex-direction: column;
    }
    .submit-button{
        display: flex;
        justify-content: center;
    }

    .submit-button .btn{
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .fieldset.name{
        display: flex;
        flex-direction: column;
    }

    .name-input{
        margin: 0.5rem 0;
    }

    .form-group{
        justify-content: center;
    }

    form{
        width: 100%;
    }
}
