<Section>
    <div class="container-fluid">
        <h1 class="contact-title">Pay Your Bill Now</h1>
        <p class="contact-body">If you would like to pay your bill now by card please click on the link below: </p>
        <br />
    </div>
    <div class="container-fluid">
        <div id="btnPayFrm"><a href="https://libertyfd.securepayments.cardpointe.com/pay?" class="btn btn--pay">Pay Now</a> 
            <div class="cards cards--s"><img src="https://libertyfd.securepayments.cardpointe.com/admin/hpp/img/cc--visa.png" alt=""> 
            <img src="https://libertyfd.securepayments.cardpointe.com/admin/hpp/img/cc--mastercard.png" alt=""> 
            <img src="https://libertyfd.securepayments.cardpointe.com/admin/hpp/img/cc--discover.png" alt="">
          </div>
          </div>
          <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800|Material+Icons" rel="stylesheet" type="text/css" id="customFont" />  
    </div>
</Section>
<app-footer></app-footer>