.navbar-nav {align-items: center;}

.navbar .navbar-brand {
  padding-top: 0px;
  margin-left: 3rem;
  margin-right: 2rem;
}

#logo{
  width: 180px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-bottom: 0;
    max-height: 54%;
    display: inline-block;
    float: none;
    vertical-align: middle;
    -webkit-transform: translate3d(0, 0, 0);
}

.navbar{
  height:85px;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 7px rgb(0 0 0 / 10%) !important;
}

.me-auto {
  margin-right: auto !important;
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}

.container-fluid{
  padding-left: 60px;
  padding-right: 60px;
}

.nav-item{
  padding-left:16px;
  padding-right:16px;
  font-size: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  color: var(--header-blue) !important;
  font-weight: 600;
  line-height: 2.2em;
}

.mobile-call{
  display: none;
}



@media only screen and (min-width: 320px) and (max-width: 767px){
  .container-fluid{
    padding-left: 10px;
    padding-right: 25px;
  }

  #logo{
    width: 125px;
  }
  .mobile-call{
    background: var(--header-blue);
    display: block;
    border: 1px solid var(--header-blue);
    border-radius: 5px;
    font-size: medium;
    padding: 0.25rem 0.5rem;
  }

  .mobile-call a{
   text-decoration: none;
   color: white; 
  }


  .mobile-call{
    color: white;
  }

  .navbar{
    height: auto;
    position: sticky;
    top:0;
  }

  .navbar .navbar-brand{
    margin-left: 0.5rem;
    margin-right: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
  .container-fluid{
    padding-left: 10px;
    padding-right: 25px;
  }
  
  .navbar{
    height: auto;
    position: sticky;
    top:0;
  }

  .navbar .navbar-brand{
    margin-left: 1.5rem;
  }
}